<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teepfit - Your Fitness Journey</title>

  <link rel="shortcut icon" href="/static/aperture-outline.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600;700;800;900&family=Rubik:wght@400;500;800&display=swap"
    rel="stylesheet">
  <link rel="preload" as="image" href="/static/assets/images/hero-banner.png">
  <link rel="preload" as="image" href="/static/assets/images/heart-rate.svg">
  <style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    footer {
        margin-top: auto;
    }

   
</style>
</head>

<body id="top">

      <section class="section hero bg-dark  has-bg-image" id="home" aria-label="hero" data-section
      style="background-image: url('/static/assets/images/hero-bg.png')">
      <div class="container container3">

        <div class="hero-content head2 p3">

          <h1 class="h1 hero-title">Bent Leg Twist</h1>
          <h3>x20</h3>


          <p class="section-text t2">
            Lie on your back with your knees up at 90 degree angle. Extend your arms to the sides and put your palms down on the ground. Twist your leg to the left while keeping your upper body in place and your knees and feet together.
          </p>

        </div>

        <div class="instagram-image">
          <img src="/static/assets/Gym-Vids/bent-leg-twist.gif" alt="Bent Leg Twist">
      </div>
      </div>

      </div>
      <h2 class="description-header">Common Mistakes</h2>
      <div class="before-footer">
        <div class="p-tag">
            <p><span>*Separating The Knees And Feet:</span> When the knees and feet are separated, it can create strain on the hip joints and lower back. Keeping the knees and feet together helps to ensure that the twist is save and effective.</p>
            <br>
            <p><span>*Not Engaging The Core:</span> It requires The core muscles throughout the exercise. If the core is not engage, it can lead to poor form and effective workout.</p>
            <br>
            <p><span>*Lifting The Upper Body And Moving The Arms:</span> When the legs, its important to keep the upper body and arms flat on the ground. This can help stabilize your torso throughout the movement and avoid strain on the neck and lower back.</p>
        </div>
    </div>
    </section>
    </article>

  </main>

  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; <script>
            var CurrentYear = new Date().getFullYear()
            document.write(CurrentYear)
          </script> Teepfit. All Rights Reserved.
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="copyright-link footer-bottom-link has-before">Nathaniel Ademola</a>
          </li>

        </ul>

      </div>
    </div>

  </footer>


  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="caret-up-sharp" aria-hidden="true"></ion-icon>
  </a>


  <!-- 
    - custom js link
  -->
  <script src="/static/assets/js/script.js" defer></script>
  <script src="/static/assets/js/yt-vid.js" defer></script>
  <script src="/static/assets/js/gif.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>