<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teepfit - Your Fitness Journey</title>

  <link rel="shortcut icon" href="/static/aperture-outline.svg" type="image/svg+xml">
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600;700;800;900&family=Rubik:wght@400;500;800&display=swap"
    rel="stylesheet">
  <link rel="preload" as="image" href="/static/assets/images/hero-banner.png">
  <link rel="preload" as="image" href="/static/assets/images/heart-rate.svg">
  <style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    footer {
        margin-top: auto;
    }

   
</style>
</head>

<body id="top">

      <section class="section hero bg-dark  has-bg-image" id="home" aria-label="hero" data-section
      style="background-image: url('/static/assets/images/hero-bg.png')">
      <div class="container container3">

        <div class="hero-content head2 p3">

          <h1 class="h1 hero-title">Jumping Jacks</h1>
          <h3>x20</h3>


          <p class="section-text">
            Start with your feet together and your arm by your sides, then jump upwith your feet apart and your hands overhead.

            Return to the start position then do the next rep. This exercise provides a full-body workout and work all your large muscles groups
          </p>

        </div>

        <div class="instagram-image">
          <img src="/static/assets/Gym-Vids/jacks.gif" alt="Jacks">
      </div>
      </div>

      </div>
      <h2 class="description-header">Common Mistakes</h2>
      <div class="before-footer">
        <div class="p-tag">
            <p><span>*Landing Too Hard:</span>When you jump to the air and come down, you are putting too much impact or pressure on your feet ankle or knees, this can lead to injury.</p>
            <br>
              <p><span>*Not Engaging The Core:</span> It requires The core muscles throughout the exercise. If the core is not engage, it can lead to poor form and effective workout.</p>
        </div>
    </div>
    </section>

    </article>

  </main>

  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; <script>
            var CurrentYear = new Date().getFullYear()
            document.write(CurrentYear)
          </script> Teepfit. All Rights Reserved.
        </p>

        <ul class="footer-bottom-list">

          <li>
            <a href="#" class="copyright-link footer-bottom-link has-before">Nathaniel Ademola</a>
          </li>

        </ul>

      </div>
    </div>

  </footer>


  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="caret-up-sharp" aria-hidden="true"></ion-icon>
  </a>


  <!-- 
    - custom js link
  -->
  <script src="/static/assets/js/script.js" defer></script>
  <script src="/static/assets/js/yt-vid.js" defer></script>
  <script src="/static/assets/js/gif.js" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>